<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tab-button>
    <ion-icon name="camera"></ion-icon>
    <ion-label>Photo</ion-label>
  </ion-tab-button>

<ion-list>
  <ion-item *ngForOf="let location of locations" >
    <ion-avatar item-start>
      <img src="" alt="">
    </ion-avatar>
    <h2>{{location.nombre}}</h2>
    <p></p>
  </ion-item>
</ion-list>
  
</ion-content>
